@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

@media screen and (min-width:1440px) {


    * {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(233, 233, 233);
        justify-content: center;
    }

    li {
        list-style: none;
    }

    main {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        z-index: 2;
        top: 40px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px rgba(104, 103, 103, 0.385);
        border-radius: 40px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 70px;
    }

    nav {
        display: flex;
        height: 100%;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        border-left: 4px solid 
            rgb(128 205 238 / 90%);
        margin-left: 9%;
    }

    nav li {
        width: 41px;
        height: 40px;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
        margin-top: 15px;
        margin-left: -23px;
        background-color: rgb(253, 204, 69);
        box-shadow: 1px 2px 5px 
                rgba(104, 103, 103, 0.198);
        text-decoration: none;
        font-size: 19px;
        border-radius: 30px;
        transition: all 200ms ease-out 0s;
    }

    nav li:first-letter { 
        font-size: 19px;
        line-height: 41px;
        border-radius: 34px;
        padding: 0px 15px;
        color: #000;
    }

    nav li:hover {
        height: 40px;
        width: 150px;
        display: flex;
        padding-left: 20px;
        align-items: center;
        background-color: rgba(245, 191, 44, 0.85);
        left: -20px;
        margin-top: 15px;
        margin-left: -23px;
    }

    nav a {
        text-decoration: none;
        color: black; 
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;

    }

    body {
        display: flex;
        flex-direction: column;
    }

    #home {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-right: 5%;
        margin-left: 5%;
    }

    #home div {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 290px;
        width: 480px;
        height: 480px;
        background-color: rgba(147, 217, 247, 0.9);
        border-radius: 250px;
        animation: shadow 5s infinite ease-in-out;
    }

    /* @keyframes shadow {
        from {background-color: rgba(147, 217, 247, 0.788);}
        50% {background-color: rgba(95, 200, 245, 0.286);}
        to {background-color: rgba(147, 217, 247, 0.789);}
        } */

    #home aside {
        display: flex;
        width: 200px;
        height: 200px;
        margin-top: 12px;
        overflow: hidden;
        border-radius: 100px;
        border: 4px solid rgb(255, 214, 101);
        box-shadow: 2px 2px 20px 
            rgba(104, 103, 103, 0.198);
        transition: all 700ms ease-out 0s;

    }
    #home aside:hover {
        border: 4px solid rgba(70, 185, 234, 0.9);
        transform:translate(-10px, -5px);
        box-shadow: 12px 7px 40px rgba(104, 103, 103, 0.198);;
    }

    #home img {
        display: flex;
        margin-top: -20px
    }

    #home li {
        height: 45px;
        display: flex;
        position: relative;
        justify-content: center;
        padding-left: 20px;
        border-radius: 30px;
        flex-direction: column;
        background-color: rgba(22, 208, 255, 0.689);
        margin-top: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        cursor: pointer;
        color: #000;
        box-shadow: 1px 1px 5px rgba(104, 103, 103, 0.198);
        transition: all 500ms ease-out 0s;

    }

    #home li:hover {
        transform: translate(-10px, 0px);
    }

    #home a {
        text-decoration: none;
        color: #000;
    }

    #home li:nth-child(1) {
        right: 17px;
        width: 220px;
    }

    #home li:nth-child(1):hover,
    #home li:nth-child(3):hover{
        background-color: rgba(22, 208, 255, 1)
    }

    
    #home li:nth-child(2) {
        width: 210px;
        background-color: rgba(245, 191, 44, 0.689);
    }

    #home li:nth-child(2):hover {
        background-color: rgba(245, 191, 44, 1);
    }

    #home li:nth-child(3) {
        width: 200px;
        right: 13px;
    }

    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 48px;
        border-bottom: 20px solid rgba(116, 195, 230, 0.9);
        border-radius: 18px;
        padding-bottom: 15px;
        -webkit-text-stroke: 1px rgba(23, 99, 132, 0.9);
    }

    #home p {
        font-size: 24px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: rgba(54, 146, 186, 0.9);
    }

    #home b {
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        color: rgba(23, 99, 132, 0.9);
    }

    #about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5%;
        width: 700px;
        margin-top: -80px;
    }

    h2 {
        display: flex;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }

    p, li {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        line-height: 140%;
    }

    i {
        color: rgb(25, 159, 216);
    }

    .education {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #skills {
        display: flex;
        flex-direction: column;
    }

    #skills b{
        display: flex;
        height: 30px;
        width: 100px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: rgb(25, 159, 216);
        color: #fff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        margin: 10px 0px;
        font-size: 14px;
        transition: all 600ms ease-out 0s;
        cursor: pointer;
    }

    #skills b:hover {
        width: 105px;
        transform: translateX(5px);
        background-color: rgba(3, 175, 249, 0.878);
    }


    #skills li {
        display: flex;
        flex-direction: column;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
    }

    #education h2 {
        margin-bottom: 26px;
    }

    .education2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #languages {
        display: flex;
        flex-direction: column;
        margin-right: 134px;
    }

    #code {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #code h2 {
        justify-content: center;
        align-items: center;
    }

    #code aside {
        margin-left: 12%;
        margin-right: 12%;
        border-radius: 30px;
        box-shadow: inset 0px 0px 20px 
            rgba(0, 0, 0, 0.564);
        background-color: rgb(91, 91, 91);
        color: rgb(226, 224, 224);
    }

    .codeModule {
        color: rgb(38, 192, 177);
    }

    .codeFunc {
        color: rgb(35, 182, 245);
    }

    .codeWhile {
        color: rgb(234, 121, 234);
    }

    .codeReverse {
        color: rgb(224, 224, 109);
    }

    .codeLet {
        color: rgb(82, 209, 251);
    }

    .codeNumber {
        color: rgb(67, 189, 149);
    }

    .codeSc {
        color: rgb(233, 239, 47);
    }

    footer {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(25, 159, 216, 0.7);
    }

    footer p {
        font-size: 24px;
        color: #fff;
    }
    
    footer img {
        width: 70px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        transition: all 500ms ease-out 0s;
    }

    footer img:hover {
        transform: scale(1.1, 1.1);
    }

}